<div>
<div class="blog">
  <div class="container">
    <input type="text" placeholder="Search" style="padding: 5px; margin: 10px;" name="search" id="search" [(ngModel)]="search" (keyup)="searchBlogs()">
    <ul *ngFor="let data of filteredBlogs  |  orderBy: '-created';  let i = index ">
      <div class="blog-image">
        <img src="{{data.metadata.blogImage}}" height=200px width=200px>
      </div>
      <h3>{{data.title}}</h3>
      <p>Author: {{data.metadata.author}}</p>
      <div class="blog-content">
        <p [innerHTML]=data.metadata.description></p>
        <a href="/postdetails" class="btn btn-success" routerLink="postdetails" [queryParams]="{post_id: data._id}">Read more...</a>
        <a href="/postdetails" *ngIf="currentUser==data.metadata.author" class="btn btn-edit" routerLink="creteBlog" [queryParams]="{post_id: data._id}">Edit</a>

      </div>

    </ul>

  </div>


</div>


</div>
