<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Log in</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a>
      <b>Blog Site </b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg" style="color: white; font-size: 20px;">Signup</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <input formControlName="firstName" class="form-control" placeholder="FirstName" required>
        <br>
        <input formControlName="lastName" class="form-control" placeholder="LastName" required>
        <br>
        <input formControlName="username" class="form-control" placeholder="Username" required>
        <br>
        <input formControlName="email" class="form-control" placeholder="Email" required>
        <br>
        <input type=password formControlName="password" class="form-control" placeholder="Password" required>
        <br>
        
      </div>

      <button type="submit" class="btn btn-primary btn-block btn-flat" >SignUp</button>
      <br>
    </form>
    <p class="text-danger">{{message}}</p>
  </div>


</div>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="../../plugins/iCheck/icheck.min.js"></script>

</body>

</html>
